/app/config/assetsVersion
/app/config/parameters.yml
/app/config/parameters.prod.yml
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/composer.phar
/vendor/
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/bin/
!bin/console
!bin/symfony_requirements
/phpunit.xml
.idea
/web/bundles/
/web/assetic/
/web/generated/
/web/media/cache/
/web/media/plan-images/
/web/media/profilepics/
/web/uploads/
/node_modules/
/web/blog/*
web/sitemap*
/web/media/thumb_360x240/
/coverage
general.min.js
general.min_part_1.js
general.min.css
general.min_part_1.css
